.ant-menu-item {
  color: #d0d5dd !important;
}

.ant-menu-item-active {
  color: #fff !important;
  background-color: #272a3d !important;
}

.ant-menu-item-selected {
  border-radius: 10px !important;
  background-color: rgba(23, 33, 66) !important;
  color: #7592ff !important;
  font-weight: 700 !important;
}